body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
}
#x {
  color: coral;
}
.fc {
  display: flex;
  margin-bottom: 100px;
}
.x {
  width: 50%;
  padding-left: 5%;
}
.x img {
  width: 70%;
}
#z {
  text-decoration: none;
  background-image: linear-gradient(pink, orange);
  color: ghostwhite;
  font-weight: 734;
  padding: 10px 40px;
  border-radius: 6px;
}
.alu {
  background-image: url(top-banner.png);
}
.potol {
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.fp {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 10px 10px 55px gray;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 22px;
}
.kodu {
  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#lr2 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#lr {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
#f {
  text-align: center;
}
